.egg {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100px;
  height: 150px;
  border-radius: 50% / 60% 60% 40% 40%;
  overflow: hidden;
  box-shadow:  1px 0px 20px rgba(232, 243, 150, 0.519);
  margin-left: 20px;
}
.egg .view_data_btn{
  padding: 5px 10px;
  width: 100%;
  background-color: white;
  color: blue;
  z-index: 10;
  border-radius: 20px;
  border: 0;
  margin-top: 20px;
}

.egg::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}
.egg.lower::before{
  height: 30%;
  background-color: red;
  animation: lower_color_slid 1.5s ease-in-out;
}
.egg.mubim::before{
  height: 50%;
  background-color: rgb(255, 205, 23);
  animation: mubim_color_slid 2s ease-in-out;
}
.egg.full::before{
  height: 100%;
  animation: full_color_slid 3s ease-in-out;
  background-color: rgb(230, 242, 201);
}
.egg.lower.smailess::before{
  height: 10%;
}
@keyframes lower_color_slid{
  from{
    transform: translateY(100%);
    background-color: white;
  }
  to{
    background-color: red;
    transform: translateY(0)
  }
}
@keyframes mubim_color_slid{
  from{
    transform: translateY(100%);
    background-color: white;
  }
  to{
    background-color:  rgb(255, 205, 23);
    transform: translateY(0)
  }
}
@keyframes full_color_slid{
  from{
    transform: translateY(100%);
    background-color: white;
  }
  to{
    background-color: rgb(230, 242, 201);
    transform: translateY(0)
  }
}
.check_egg_container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
}
.check_egg_container_view_data{
  height: 400px;
  padding: 20px;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.check_egg_container_view_data .data_view {
  width: 90%;
  height: 100%;
  border-radius: 20px;
  box-shadow: 1px 0px 10px rgba(0, 0, 0, 0.092);
  overflow: auto;
}

/* Webkit-based browsers */
.check_egg_container_view_data .data_view::-webkit-scrollbar {
  width: 3px;
}

.check_egg_container_view_data .data_view::-webkit-scrollbar-track {
  background-color: transparent;
}

.check_egg_container_view_data .data_view::-webkit-scrollbar-thumb {
  background-color: rgb(156, 196, 242);
  border-radius: 5px;
}

.check_egg_container_view_data .data_view::-webkit-scrollbar-thumb:hover {
  background-color: rgb(124, 235, 50);
}
.content_data{
  height: 100vh;
  padding: 20px;
  display: none;
}
.content_data table{
  margin: auto auto;
}
.view_in_box_content{
  display: none;
}
.content_data.egge_view_active{
  display: block;
}
.content_data.burn_view_active{
  display: block;
}
.view_in_box_content.view_in_box_content_active{
  display: flex;
  justify-content: center;
  align-items: center; 
  padding: 20px;
  width: 100%;
  margin: 20px auto;
}
.view_in_box_content.view_in_box_content_active table{
  width: 90%;
}
#merl_burn{
  transition: all 1s;
}
#merl_egg{
  transition: all 1s;
}