@font-face {
  font-family: Siemreap_Regular;
  src: url(fonts/Siemreap_Regular/Siemreap_Regular.ttf);
}
body{
    padding: 0;
    margin: 0;
    font-family: Siemreap_Regular;
}
.home_contaner{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: auto auto;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    height: 100vh;
    overflow: hidden;
}

.home_contaner .container_contens{
    height: 70%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    border-radius: 30px;
    box-shadow: 2px 0px 20px rgba(0, 0, 0, 0.049);
    animation: onptionSlide .8s ease-in-out;
}
.container_contens .content_header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px 0;
}
.content_header h3{
    padding: 20px;

}
.content_header img{
    display: block;
    margin: 20px auto;
}

  .slider-container::-webkit-scrollbar {
    width: 3px;
    background-color: #f0f0f0;
    border-radius: 10px;
  }
  
  .slider-container::-webkit-scrollbar-thumb {
    background-color: green;
    border-radius: 10px;
  }
  
  .slider-container::-webkit-scrollbar-thumb:hover {
    background-color: darkgreen;
  }
  .slider-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    transition: transform 0.3s ease;
    scroll-snap-align: center;
  }

  @media screen and (max-width: 1410px) {
    .slider-buttons {
      display: grid;
      grid-row-gap: 10px;
      grid-template-columns: repeat(3, 1fr);
    }
  }
  @media screen and (max-width:750px){
    .slider-buttons {
      display: flex;
      flex-direction: column;
    }
    .container_contens{
     overflow-y: auto;
    }
  }
  .container_contens::-webkit-scrollbar {
    width: 4px;
    background-color: #f0f0f0;
    border-radius: 10px;
  }
  
  .container_contens::-webkit-scrollbar-thumb {
    background-color: green;
    border-radius: 10px;
  }
  
  .container_contens::-webkit-scrollbar-thumb:hover {
    background-color: darkgreen;
  }
  .slider-button {
    display: inline-block;
    padding: 10px 20px;
    margin-right: 10px;
    background-color: #0a8c45;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 2px 0px 15px rgba(0, 0, 0, 0.137);
  }
 .slider-button a{
    color:black;
  }

  @keyframes onptionSlide{
    0%{
        transform: translateY(2000px);
    }
    100%{
        transform: translateY(0);
    }
  }

  .egg_record_con{
    width: 100%;
    height: 100vh;
    text-align: center;
    padding: 30px 0px 0px 0px;
    font-family: 'Khmer', cursive;
    animation: formSlid 2s ease-in;
  }
  .egg_record_con h2{
    font-size: 1.5rem;
    font-weight: 800;
  }
  .egg_record_con p{
    color: red;
    font-weight: 600;
  }
  .egg_record_con form{
    width: 50%;
    height: 50%;
    display: block;
    margin: auto auto;
  }
  .recentOrders{
    width: 90%;
    margin: 2rem auto;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.049);
    animation: formSlid 2s ease-in-out;
  }
  .recentOrders h2{
    padding: 20px 10px;
  }
  .recentOrders table{
    width: 100%;
    padding: 20px;
    border: 2px solid black;
  }
@media only screen and (max-width: 950px) {
  .egg_record_con form{
    width: 100%;
  }
}
@media only screen and (max-width: 500px) {
 .egg_record_con form{
    width:90%
  }
  .egg_record_con form .row{
    display:flex;
    flex-direction:column;
    margin:.5rem 0;
  }
  .egg_record_con form .row.mb-4{
    margin:.5rem 0;
  }
  .egg_record_con form .col-4{
    width:100%;
    margin:10px 0;
  }
  .egg_record_con form .col{
     margin:20px 0;
  }
}
    @keyframes formSlid {
      0%{
        opacity: 0;
      }
      50%{
        opacity: 0.5;
      }
      100%{
        opacity: 1;
      }
    }